@media (max-width: 900px) {
    .information-main-container {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        
    }
    .information-image-container {
        grid-row: 2;
    }
    .information-blogs-info {
        grid-column: 1;
        grid-row: 3;
    }
    .information-image-container img {
        width: 100%;
    }
    .section-information-container .article-container {
        max-width: 43%;
    }
    .conceptos-funtion-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .main-part-container {
        padding: 5px 5px 5px;
    }
    .section-nomenclatura-contain {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        padding: 5px 5px 5px;
        background-color: none;
    }
    .info-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .section-gemelado-img-container {
        grid-row: 2;
    }
    .section-gemelado-img-container img {
        width: 100%;
    }
    .section-gemelado-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
}